@using JITAccessController.Web.Blazor.Kubernetes
@using JITAccessController.Web.Blazor.Options
@using Microsoft.AspNetCore.Components.Authorization
@using k8s
@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthStateProvider
@inject IKubernetes K8sClient
@inject IJSRuntime JS
@inject JITAccessOptions AccessOptions

<script type="module" src="@Assets["Components/AccessRequestList.razor.js"]"></script>

<div class="list-group mb-2 col-md-4">
    @foreach (var request in AccessRequests)
    {
        <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@request.Metadata.Name</h5>
                <div>
                    <small class="@RequestStateToCssClass(request)">@request.Status?.State</small>
                    @if (request.Status?.State == "Pending")
                    {
                        <small>&nbsp;|&nbsp;Expires: @ConvertToLocal(request.Status.RequestExpiresAt)</small>
                    }
                </div>
            </div>
            <div>
                <div>
                    <strong class="d-block">Subject</strong>
                    <span class="d-block">@request.Spec?.Subject</span>
                </div>
                @if (!string.IsNullOrWhiteSpace(request.Spec?.Role?.Name))
                {
                    <div>
                        <strong class="d-block">Requested Role</strong>
                        <span class="d-block">@request.Spec.Role.Name</span>
                    </div>
                }
                @if (request.Spec?.Permissions.Count > 0)
                {
                    <strong>Requested Permissions</strong>
                    <div>
                    @{ var lastPermission = request.Spec.Permissions.Last(); }
                    @foreach (var permission in request.Spec.Permissions)
                    {
                        <div class="m-1 px-1">
                        @if (permission.ApiGroups != null)
                        {
                            <div class="my-1">
                                <h6 class="mb-0">API Groups:</h6>
                                <div>
                                    @foreach (var apiGroup in permission.ApiGroups)
                                    {
                                        <span class="badge rounded-pill text-bg-primary">
                                        @if(apiGroup == "") {
                                            <text>(core)</text>
                                        } else {
                                            <text>@apiGroup</text>
                                        }
                                        </span>
                                    }
                                </div>
                            </div>
                        }
                        @if (permission.Verbs != null)
                        {
                            <div class="mb-1">
                                <h6 class="mb-0">Verbs:</h6>
                                <div>
                                    @foreach (var verb in permission.Verbs)
                                    {
                                        <span class="badge rounded-pill text-bg-primary">@verb</span>
                                    }
                                </div>
                            </div>
                        }
                        @if (permission.Resources != null)
                        {
                            <div class="mb-1">
                                <h6 class="mb-0">Resources:</h6>
                                <div>
                                    @foreach (var resource in permission.Resources)
                                    {
                                        <span class="badge rounded-pill text-bg-primary">@resource</span>
                                    }
                                </div>
                            </div>
                        }
                        @if (permission.ResourceNames != null)
                        {
                            <div class="mb-1">
                                <h6 class="mb-0">Resource Names:</h6>
                                <div>
                                    @foreach (var resourceName in permission.ResourceNames)
                                    {
                                        <span class="badge rounded-pill text-bg-primary">@resourceName</span>
                                    }
                                </div>
                            </div>
                        }
                        </div>
                        if (permission != lastPermission) {
                            <hr />
                        }
                   }
                   </div>
                }
            </div>
        @if (request.Status?.State == "Pending")
        {
            @if (CanApproveRequest(request))
            {
                <div class="d-flex w-100 justify-content-end my-1">
                    <button class="btn btn-sm btn-outline-success m-1"
                            @onclick="@(e => ApproveRequest(request))">Approve</button>
                    <button class="btn btn-sm btn-outline-danger m-1"
                            @onclick="@(e => DeclineRequest(request))">Decline</button>
                </div>
            }
        }
        </div>
    }
</div>

@code {
    [Parameter]
    public required IEnumerable<BaseAccessRequest> AccessRequests { get; set; }

    [Parameter]
    public required Func<BaseAccessRequest, bool> CanApproveRequest { get; set; }

    [Parameter]
    public EventCallback OnRefreshRequested { get; set; }

    [Parameter]
    public EventCallback<Exception> OnError { get; set; }

    private AuthenticationState? authState;

    private double? _offsetMinutes;

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthStateProvider.GetAuthenticationStateAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _offsetMinutes = await JS.InvokeAsync<double>("getLocalOffsetMinutes");
            StateHasChanged();
        }
    }

    private DateTime ConvertToLocal(DateTime utc)
    {
        if (_offsetMinutes.HasValue)
        {
            return utc.AddMinutes(-_offsetMinutes.Value);
        }
        return utc;
    }

    protected bool IsAuthenticated()
    {
        return authState != null && authState.User.Identity != null;
    }

    protected string? GetUsername()
    {
        return authState?.User.Claims.FirstOrDefault(c => c.Type == "preferred_username")?.Value;
    }

    protected List<string> GetGroups()
    {
        if (authState == null)
            return new List<string>();

        return authState.User.Claims.Where(c => c.Type == "groups")
            .Select(c => "oidc" + c.Value).ToList();
    }

    private string RequestStateToCssClass(BaseAccessRequest request)
    {
        switch (request.Status?.State)
        {
            case "Approved":
                return "text-success";
            case "Denied":
                return "text-danger";
            case "Pending":
                return "text-primary";
            default:
                return "";
        }
    }

    protected async Task ApproveRequest(BaseAccessRequest request)
    {
        if (!IsAuthenticated())
            return;

        var username = GetUsername();
        if (string.IsNullOrWhiteSpace(username))
            return;

        try
        {
            await request.CreateResponseAsync(K8sClient, username, GetGroups(), "Approved", useImpersonation: AccessOptions.UseImpersonation);
        }
        catch (Exception ex)
        {
            await OnError.InvokeAsync(ex);
        }
        finally
        {
            if (OnRefreshRequested.HasDelegate)
                await OnRefreshRequested.InvokeAsync();
        }
    }

    protected async Task DeclineRequest(BaseAccessRequest request)
    {
        if (!IsAuthenticated())
            return;

        var username = GetUsername();
        if (string.IsNullOrWhiteSpace(username))
            return;

        try
        {
            await request.CreateResponseAsync(K8sClient, username, GetGroups(), "Denied", AccessOptions.UseImpersonation);
        }
        catch (Exception ex)
        {
            await OnError.InvokeAsync(ex);
        }
        finally
        {
            if (OnRefreshRequested.HasDelegate)
                await OnRefreshRequested.InvokeAsync();
        }
    }
}