@using JITAccessController.Web.Blazor.Kubernetes
@using k8s.Models
@using System

@if (Request != null)
{
    <div class="mb-2">
        <div class="d-flex w-100 justify-content-between">
            <h5>@Request.Metadata.Name</h5>
            <div>
                <small class="d-inline-block badge rounded-pill @RequestStateToCssClass(Request)">@Request.Status?.State</small>
                @if (Request.Status?.State == "Pending")
                {
                    <small class="d-inline-block border-start border-2 ps-1">@Request.Status!.ApprovalsReceived/@Request.Status!.ApprovalsRequired Approvals</small>
                }
            </div>
        </div>
            <div class="d-flex w-100 justify-content-between">
                <div>
                    <small class="badge rounded-pill text-bg-secondary">@Request.Scope</small>
                    @if (Request.Metadata.CreationTimestamp != null) {
                        <small class="badge rounded-pill text-bg-secondary">Created @ConvertToLocal(Request.Metadata.CreationTimestamp.Value)</small>
                    }
                </div>
            @if (Request.Status?.State == "Pending")
            {
                <div>
                    <small class="badge rounded-pill text-bg-secondary">Expires: @ConvertToLocal(Request.Status!.RequestExpiresAt)</small>
                </div>
            }
            </div>
    </div>
    <div>
        <div>
            <strong class="d-block">Subject</strong>
            <span class="d-block">@Request.Spec?.Subject</span>
        </div>
        @if (!string.IsNullOrWhiteSpace(Request.Spec?.Role?.Name))
        {
            <div>
                <strong class="d-block">Requested Role</strong>
                <span class="d-block">@Request.Spec.Role.Name</span>
            </div>
        }
        @if (Request.Spec?.Permissions.Count > 0)
        {
            <strong>Requested Permissions</strong>
            <div>
                <PermissionsList Permissions="Request.Spec.Permissions" />
            </div>
        }
    </div>
}
else
{
    <div>No request data</div>
}

@code {
    [Parameter]
    public required BaseAccessRequest Request { get; set; }

    [Parameter]
    public double? OffsetMinutes { get; set; }

    private string RequestStateToCssClass(BaseAccessRequest request)
    {
        switch (request.Status?.State)
        {
            case "Approved":
                return "text-bg-success";
            case "Denied":
                return "text-bg-danger";
            case "Pending":
                return "text-bg-warning";
            default:
                return "text-bg-secondary";
        }
    }

    private DateTime ConvertToLocal(DateTime utc)
    {
        if (OffsetMinutes.HasValue)
        {
            return utc.AddMinutes(-OffsetMinutes.Value);
        }
        return utc;
    }
}